body * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#klik {
	font-size: 100%;
	font-style: italic;
    padding: 10px 15px;
    margin: 0;
}

#klik2 {
	background-color: #333;
	height: 70px;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 20px;
	overflow: auto;
	white-space: nowrap;
	color: white;
}

#klik2 ul {
	list-style: none;
	display: flex;
}

#klik2 ul li {
	text-align: center;
	padding: 10px;
	float: left;
	text-decoration: none;
}
#klik2 ul li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#klik2 a:hover {
	background-color: gray;
}

#untukkonten ul li {
	background-color: white;
	font-size: 100%
	display: none;
	font-family: initial;
	letter-spacing: 1px;
}

#home {
	font-size: 50px;
	font-style: oblique;
	padding: 80px;
	height: 50px;

	
}
#about_me {
	font-size: 20px;
	font-style: oblique;
	padding: 0px;
}

#tugas {
	background: gray;
	padding: 0;
	font-style: oblique;
	font-size: 20px;
}
#contact {
	padding: 50px;
	font-size: 20px;
	font-style: oblique;
}